<table>
  <tr>
    <td colspan="3" style="text-align:right"><strong>{{words}}</strong></td>
    <td>{{i18n 'gui.file_words'}}</td>
  </tr>
  <tr>
    <td colspan="3" style="text-align:right"><strong>{{chars}}</strong></td>
    <td>{{i18n 'gui.file_chars'}}</td>
  </tr>
  <tr>
    <td colspan="3" style="text-align:right"><strong>{{chars_wo_spaces}}</strong></td>
    <td>{{i18n 'gui.file_chars_wo_spaces'}}</td>
  </tr>

  {{#ifCond selections.length '>' 0}}
  {{!-- Spacer --}}
  <tr>
    <td colspan="4">&nbsp;</td>
  </tr>
  {{/ifCond}}

  {{#each selections}}
  <tr>
    <td style="text-align:right">
      <strong>{{this.start.line}}:{{this.start.ch}}</strong>
    </td>
    <td><strong>&ndash;</strong></td>
    <td>
      <strong>{{this.end.line}}:{{this.end.ch}}</strong>
    </td>
    <td>{{i18n_value 'gui.words_selected' this.selectionLength}}</td>
  </tr>
  {{/each}}
</table>
