<div class="formatting">
  <a href="#" class="markdownHeading1" id="header-formatting">
    <span class="markdownHeading1">#</span>
    <span class="markdownHeading2">#</span>
    <span class="markdownHeading3">#</span>
    <span class="markdownHeading4">#</span>
    <span class="markdownHeading5">#</span>
    <span class="markdownHeading6">#</span>
  </a>
  <a href="#" class="markdownBold">{{i18n 'gui.formatting.bold'}}</a>
  <a href="#" class="markdownItalic">{{i18n 'gui.formatting.italic'}}</a>
  <a href="#" class="markdownCode">{{i18n 'gui.formatting.code'}}</a>
  <a href="#" class="markdownComment">{{i18n 'gui.formatting.comment'}}</a>
  <hr>
  <a href="#" class="markdownLink">{{i18n 'gui.formatting.link'}}</a>
  <a href="#" class="markdownImage">{{i18n 'gui.formatting.image'}}</a>
  <hr>
  <a href="#" class="markdownBlockquote">{{i18n 'gui.formatting.blockquote'}}</a>
  <a href="#" class="markdownMakeOrderedList">{{i18n 'gui.formatting.ol'}}</a>
  <a href="#" class="markdownMakeUnorderedList">{{i18n 'gui.formatting.ul'}}</a>
  <a href="#" class="markdownMakeTaskList">{{i18n "gui.formatting.tasklist"}}</a>
  <a href="#" class="markdownInsertTable">{{i18n 'gui.formatting.insert_table'}}</a>
  <hr>
  <a href="#" class="markdownDivider">{{i18n 'gui.formatting.divider'}}</a>
  <a href="#" class="insertFootnote">{{i18n 'gui.formatting.footnote'}}</a>
  <a href="#" class="removeFootnote">{{i18n 'gui.formatting.remove_footnote'}}</a>
</div>
