<form class="pomodoro" method="GET" action="#">
  <input type="number" class="pomodoro-task" value="{{duration_task}}" name="task" min="1" max="100" required>
  <input type="number" class="pomodoro-short" value="{{duration_short}}" name="short" min="1" max="100" required>
  <input type="number" class="pomodoro-long" value="{{duration_long}}" name="long" min="1" max="100" required>
  {{!-- pomodoro.mute --}}
  <div class="pomodoro-sound-container">
    <clr-icon shape="music-note" class="is-solid"></clr-icon>
    <span id="pomodoro-volume-level">{{ volume }}%</span>
  </div>
  <input type="range" id="pomodoro-volume-range" name="volume" min="0" max="100" value="{{volume}}">
  <input type="submit" value="{{i18n 'pomodoro.start'}}">
</form>
