<div>
  <div class="row">
    <div class="btn-share htm" title="HTML" data-ext="html" data-hash="{{hash}}"></div>
    <div class="btn-share pdf" title="PDF" data-ext="pdf" data-hash="{{hash}}"></div>
    <div class="btn-share odt" title="OpenDocument Text" data-ext="odt" data-hash="{{hash}}"></div>
    <div class="btn-share docx" title="Word" data-ext="docx" data-hash="{{hash}}"></div>
  </div>
  <div class="row">
    <div class="btn-share revealjs" title="reveal.js Presentation"></div>
    <div class="btn-share rst" title="reStructuredText" data-ext="rst" data-hash="{{hash}}">rST</div>
    <div class="btn-share rtf" title="Rich Text Format" data-ext="rtf" data-hash="{{hash}}">RTF</div>
    <div class="btn-share tex" title="LaTeX" data-ext="latex" data-hash="{{hash}}">TeX</div>
  </div>
  <!-- This row's visibility will be toggled by clicking the reveal.js button -->
  <div id="reveal-themes" class="hidden">
    <div class="row">
      <div class="btn-share revealjs-black" title="Black" data-ext="revealjs-black" data-hash="{{hash}}"></div>
      <div class="btn-share revealjs-moon" title="Moon" data-ext="revealjs-moon" data-hash="{{hash}}"></div>
      <div class="btn-share revealjs-league" title="League" data-ext="revealjs-league" data-hash="{{hash}}"></div>
      <div class="btn-share revealjs-sky" title="Sky" data-ext="revealjs-sky" data-hash="{{hash}}"></div>
    </div>
    <div class="row">
      <div class="btn-share revealjs-beige" title="Beige" data-ext="revealjs-beige" data-hash="{{hash}}"></div>
      <div class="btn-share revealjs-solarized" title="Solarized" data-ext="revealjs-solarized" data-hash="{{hash}}"></div>
      <div class="btn-share revealjs-serif" title="Serif" data-ext="revealjs-serif" data-hash="{{hash}}"></div>
      <div class="btn-share revealjs-white" title="White" data-ext="revealjs-white" data-hash="{{hash}}"></div>
    </div>
  </div> <!-- END #reveal-themes -->
  <div class="row">
    <div class="btn-share plain" title="Text" data-ext="plain" data-hash="{{hash}}">TXT</div>
    <div class="btn-share org" title="Emacs Org" data-ext="org" data-hash="{{hash}}">ORG</div>
    <!--<div class="btn-share textile" title="Textile" data-ext="textile" data-hash="{{hash}}">Txtl</div>-->
    <!--<div class="btn-share mediawiki" title="MediaWiki" data-ext="mediawiki" data-hash="{{hash}}">mWiki</div>-->
    <div class="btn-share textbundle" title="Textbundle" data-ext="textbundle" data-hash="{{hash}}">Bdl</div>
    <div class="btn-share textpack" title="Textpack" data-ext="textpack" data-hash="{{hash}}">Pck</div>
  </div>
</div>
