<div class="search">
  <div class="row">
    <input type="text" placeholder="{{i18n 'dialog.find.find_placeholder'}}" value="{{ search }}" id="searchWhat">
    <button id="searchNext">{{i18n 'dialog.find.find_label'}}</button>
  </div>
  <div class="row">
    <input type="text" placeholder="{{i18n 'dialog.find.replace_placeholder'}}" value="{{ replace }}" id="replaceWhat">
    <button id="replaceNext">{{i18n 'dialog.find.replace_label'}}</button>
    <button id="replaceAll">{{i18n 'dialog.find.replace_all_label'}}</button>
  </div>
</div>
