<table>
  <tr>
    <td style="text-align:right">
      <strong>{{ displaySum }}</strong>
    </td>
    <td>
      {{i18n "gui.words_last_month"}}
    </td>
  </tr>
  <tr>
    <td style="text-align:right">
      <strong>{{ avgMonth }}</strong>
    </td>
    <td>
      {{i18n "gui.avg_words"}}
    </td>
  </tr>
  <tr>
    <td style="text-align:right">
      <strong>{{ today }}</strong>
    </td>
    <td>
      {{i18n "gui.today_words"}}
    </td>
  </tr>
</table>

{{#ifCond cmpToday '>' cmpAvg}}
<p><strong>{{i18n "gui.avg_surpassed"}}</strong></p>
{{/ifCond}}

{{#ifCond cmpToday '>' cmpAvgHalf}}
{{#ifCond cmpToday '<=' cmpAvg}}
<p><strong>{{i18n "gui.avg_close_to"}}</strong></p>
{{/ifCond}}
{{/ifCond}}

{{#ifCond cmpToday '<=' cmpAvgHalf}}
<p><strong>{{i18n "gui.avg_not_reached"}}</strong></p>
{{/ifCond}}

<p><a class="button" id="more-stats">More &hellip;</a></p>
