<div class="dialog">
    <h1>{{i18n "tags.title"}}</h1>
    <form  action="" method="GET" id="dialog">
        <div>
            <p>
                {{i18n "tags.description"}}
            </p>
            <div id="prefs-taglist">
              {{#each this}}
              <div>
                <input type="text" name="prefs-tags-name" value="{{name}}">
                <input type="color" name="prefs-tags-color" value="{{color}}">
                <input type="text" name="prefs-tags-desc" value="{{desc}}">
                <button type="button" onclick="$(this).parent().detach()">-</button></div>
              {{/each}}
            </div>
        </div>
        <button type="button" onclick="addTagLine()">+</button>
        <button type="submit" id="pref-save">{{i18n "preferences.save"}}</button>
        <button id="abort">{{i18n "preferences.cancel"}}</button>
    </form>
<script>
/* global $ */
function addTagLine () {
  $('#prefs-taglist').append(
    `<div>
        <input type="text" name="prefs-tags-name" placeholder="{{i18n "tags.name_desc"}}">
        <input type="color" name="prefs-tags-color" placeholder="{{i18n "tags.color_desc"}}">
        <input type="text" name="prefs-tags-desc" placeholder="{{i18n "tags.desc_desc"}}">
        <button type="button" onclick="$(this).parent().detach()">-</button>
        </div>`
  )
}
</script>
</div>
