<div class="dialog">
  <h1>{{i18n "dialog.paste_image.title" }}</h1>
  <p>{{i18n "dialog.paste_image.info" }}</p>
  <p>
    <img class="image-preview" src="{{ img }}">
  </p>
  <div class="box-left">
    <p>
      {{i18n "dialog.paste_image.dimensions"}}: <strong>{{ size.width }}&times;{{ size.height }}px</strong>
    </p>
    <label for="img-name">{{i18n "dialog.paste_image.name_label"}}</label>
    <input type="text" id="img-name" value="{{ imageName }}" placeholder="{{i18n "dialog.paste_image.name_placeholder"}}">
  </div>
  <div class="box-right">
    <p>
      <label for="img-width">Resize image to</label>
      <input type="number" id="img-width" max="{{size.width}}" min="1" placeholder="{{size.width}}">
      <input type="number" id="img-height" max="{{size.height}}" min="1" placeholder="{{size.height}}">
      <input type="hidden" value="{{ aspect }}" id="aspect-ratio">
    </p>
    <div class="cb-group">
      <label class="cb-toggle">
        <input type="checkbox" value="yes" id="aspect" checked="checked">
        <div class="toggle"></div>
      </label>
      <label for="aspect">{{i18n "dialog.paste_image.retain_aspect_label"}}</label>
    </div>
  </div>
  <div class="clearfix">
    <button id="save-cwd" class="btn-default" data-default-action="data-default-action">{{i18n "dialog.paste_image.save_cwd"}}</button>
    <button id="save-other">{{i18n "dialog.button.choose_path"}}</button>
    <button id="abort">{{i18n "dialog.button.close"}}</button>
  </div>
</div>
