<div class="dialog">
  <h1>{{i18n "dialog.custom_css.title" }}</h1>
  <p>{{i18n "dialog.custom_css.info" }}</p>
  <textarea id="custom-css">{{ styles }}</textarea>
  <div>
    <button id="save" class="btn-default">{{i18n "dialog.button.save"}}</button>
    <button id="abort">{{i18n "dialog.button.cancel"}}</button>
  </div>
</div>
