<div class="dialog" role="dialog">
  <h1>{{i18n "dialog.statistics.title"}}</h1>
  <p>{{i18n "dialog.statistics.intro"}}</p>

  {{!-- Create two tabs --}}
  <div class="modal-tab-container">
    <div class="tab-list" role="tablist"
        aria-label="{{i18n "dialog.preferences.title"}}">
        <button class="tab-list-tab" role="tab" aria-selected="false"
          aria-controls="statistics-writing" id="statistics-writing-control">
          Writing Statistics
        </button>
        <button class="tab-list-tab" role="tab" aria-selected="false"
          aria-controls="statistics-fsal" id="statistics-fsal-control">
          FSAL Statistics
        </button>
      </div>

      <div id="statistics-writing" role="tabpanel"
        aria-labelledby="statistics-writing-control">
        <div style="text-align: center;">
          <span id="prev-sheet">
            <clr-icon shape="caret left"></clr-icon>
          </span>
          <select id="data-mode">
            <option value="week">{{i18n "dialog.statistics.week"}}</option>
            <option value="month">{{i18n "dialog.statistics.month"}}</option>
            <option value="year">{{i18n "dialog.statistics.year"}}</option>
          </select>
          <span id="next-sheet">
            <clr-icon shape="caret right"></clr-icon>
          </span>
          <br>
          <progress id="current-sheet-info" value="0" max="0"></progress>
        </div>
        <canvas id="canvas"></canvas>
        <div class="cb-group">
          <label class="cb-toggle">
            <input type="checkbox" value="yes" id="data-compare">
            <div class="toggle"></div>
          </label>
          <label for="data-compare">{{i18n "dialog.statistics.compare"}}</label>
          <p><small>{{ days }} days logged since {{ firstDay }}.</small></p>
        </div>
      </div>

      <div id="statistics-fsal" role="tabpanel"
        aria-labelledby="statistics-fsal-control">
        {{!-- fsalStatistics --}}
        {{!--
        We want to draw two box-plots, one for characters and one for words:

        |         |----------|==========|======|---------|         |
        Minimum   Lower 99%  Lower 95%  Mean  Upper 95%  Upper 99% Maximum

        We're gonna use SVG for that shit. Because we can.
        --}}

        {{!--
        TODO: We need to differentiate between the words- and chars setting
        and show the corresponding graph and NOT just the word-graph as we do here!
        --}}
        {{!--
        TODO: Apply better styling!
        --}}
        <h3>Word and file frequency</h3>
        <p>
          In below's graphic, you can see certain measurements that have been
          taken across all your files in what is known as a "box-plot." The
          three vertical lines indicate the <strong>smallest file ({{ fsalStatistics.minWords}} words)</strong>,
          the average file size <strong>({{ fsalStatistics.meanWords }} words)</strong>, and the
          <strong>largest file ({{ fsalStatistics.maxWords}} words)</strong>. The lean rectangle
          indicates the so-called <strong>99 percent interval</strong>, and the
          slightly higher rectangle indicates the <strong>95 percent interval</strong>.
          This means that 95 percent of your files contain between
          {{ fsalStatistics.words95PercentLower}} and {{ fsalStatistics.words95PercentUpper }} words,
          and 99 percent of your files contain between {{ fsalStatistics.words99PercentLower}} and
          {{ fsalStatistics.words99PercentUpper }} words.
        </p>
        <p>
          If your mean and both intervals are cramped to the left side of the
          graphic, this means that you have a few extraordinarily large files.
          If your mean is close to the center of the graphic and the intervals
          arrange neatly around it, this indicates that the sizes of your files
          are balanced and resemble a bell curve.
        </p>
        <div id="box-plot-fsal-stats-words">
          <svg
            width="100%"
            height="80px"
            viewBox="0 0 {{ fsalStatistics.maxWords }} 140"
            style="background-color: #333333"
            preserveAspectRatio="none"
          >
          {{!-- We have a viewbox from zero to maximum, so we can calculate everything --}}
          {{!-- Before everything, mark the full range that we have --}}
          <rect x="0" y="38" width="100%" height="4" fill="#ff00ff"/>
            {{!-- First, the bigger box, includes the 99% interval --}}
            <rect
              x="{{ fsalStatistics.words99PercentLower }}"
              y="30"
              width="{{ fsalStatistics.words99Span }}"
              height="20"
              fill="#66cc66"
              title="99 % of your files contain between {{ fsalStatistics.words99PercentLower }} and {{ fsalStatistics.words99PercentUpper }} words"
            />
            {{!-- Second, the smaller box, includes the 95% interval --}}
            <rect
              x="{{ fsalStatistics.words95PercentLower }}"
              y="20"
              width="{{ fsalStatistics.words95Span }}"
              height="40"
              fill="#aaffaa"
              title="95 % of your files contain between {{ fsalStatistics.words95PercentLower }} and {{ fsalStatistics.words95PercentUpper }} words"
            />
            {{!-- Third, the other values: mean, min, and max --}}
            <rect
              x="{{ fsalStatistics.meanWords }}"
              y="0"
              width="1%"
              height="80"
              fill="#00ffff"
              title="On average, your files have {{ fsalStatistics.meanWords }} words"
            />
            <rect
              x="0"
              y="0"
              width="1%"
              height="80"
              fill="#00ffff"
              title="Your shortest file contains {{ fsalStatistics.minWords }} words"
            />
            <rect
              x="99%"
              y="0"
              width="1%"
              height="80"
              fill="#00ffff"
              title="Your largest file contains {{ fsalStatistics.maxWords }} words"
            />

            {{!--
            Now, indicate both the 95% and 99% interval a little bit nicer.
            --}}
            <path d="M{{ fsalStatistics.words95PercentLower }} 70 l0 20 l{{ fsalStatistics.words95Span }} 0 l0 -20" stroke-width="5" stroke="white" fill="none" />
            <path d="M{{ fsalStatistics.words99PercentLower }} 70 l0 40 l{{ fsalStatistics.words99Span }} 0 l0 -40" stroke-width="5" stroke="white" fill="none" />
          </svg>
        </div>
        <div class="box-container">
          <div class="box-left">
            Number of Markdown files: {{ fsalStatistics.mdFileCount }}<br>
            Number of Code files: {{ fsalStatistics.codeFileCount }}<br>
            Number of directories: {{ fsalStatistics.dirCount }}<br>
            <br>
            Sum of characters in all files: {{ fsalStatistics.sumChars }}<br>
            Sum of words in all files: {{ fsalStatistics.sumWords }}<br>
            Standard deviation: {{ fsalStatistics.sdChars }} characters / {{ fsalStatistics.sdWords }} words<br>
            <br>
            Your smallest file: {{ fsalStatistics.minChars }} characters / {{ fsalStatistics.minWords }} words<br>
            Your largest file: {{ fsalStatistics.maxChars }} characters / {{ fsalStatistics.maxWords}} words<br>
            The average file: {{ fsalStatistics.meanChars }} characters / {{ fsalStatistics.meanWords }} words<br>
          </div>
          <div class="box-right">
            Lower bound of 95% interval (chars): {{ fsalStatistics.chars95PercentLower }}<br>
            Upper bound of 95% interval (chars): {{ fsalStatistics.chars95PercentUpper }}<br>
            Lower bound of 99% interval (chars): {{ fsalStatistics.chars99PercentLower }}<br>
            Upper bound of 99% interval (chars): {{ fsalStatistics.chars99PercentUpper }}<br>
            <br>
            Lower bound of 95% interval (words): {{ fsalStatistics.words95PercentLower }}<br>
            Upper bound of 95% interval (words): {{ fsalStatistics.words95PercentUpper }}<br>
            Lower bound of 99% interval (words): {{ fsalStatistics.words99PercentLower }}<br>
            Upper bound of 99% interval (words): {{ fsalStatistics.words99PercentUpper }}
          </div>
        </div>
      </div>
  </div>
  <div class="prefs-submit-group">
    <button id="abort">{{i18n "dialog.button.close"}}</button>
  </div>
</div>
