<div class="dialog">
    <h1>{{i18n "dialog.tag_cloud.title" }}</h1>
    <p>{{i18n "dialog.tag_cloud.info" }}</p>
    <p><input type="text" id="filter-tags" placeholder="{{i18n "dialog.filter_tags"}}"></p>
    <p>
        {{#each tags}}
        <span class="tag" data-tag="#{{ text }}">{{ text }} <small>{{ count }}<clr-icon shape="times"></clr-icon></small></span>
        {{/each}}
    </p>
    <button id="abort">{{i18n "dialog.button.close"}}</button>
    <button id="copy-to-clipboard" class="copy-clipboard" data-copy-clipboard="{{ tag_list }}">{{i18n "dialog.tag_cloud.copy"}}</button>
</div>
