<div class="dialog">
    <h1>{{i18n "dialog.tags.title"}}</h1>
    <form  action="" method="GET" id="dialog">
        <div>
            <p>
                {{i18n "dialog.tags.description"}}
            </p>
            <div id="prefs-taglist">
              {{#each this}}
              <div>
                <input type="text" name="prefs-tags-name" value="{{name}}" placeholder="{{i18n "dialog.tags.name_desc"}}">
                <input type="color" name="prefs-tags-color" value="{{color}}" placeholder="{{i18n "dialog.tags.color_desc"}}">
                <input type="text" name="prefs-tags-desc" value="{{desc}}" placeholder="{{i18n "dialog.tags.desc_desc"}}">
                <button type="button" onclick="this.parentElement.parentElement.removeChild(this.parentElement)">-</button></div>
              {{/each}}
            </div>
        </div>
        <button type="button" id="addTagLine" class="icon"><clr-icon shape="plus"></clr-icon></button>
        <button type="submit" id="pref-save">{{i18n "dialog.button.save"}}</button>
        <button id="abort">{{i18n "dialog.button.cancel"}}</button>
    </form>
</div>
