<div class="dialog">
    <h1>{{i18n "dialog.update.title"}}: {{newVer}}</h1>
    <p><strong>{{i18n "dialog.update.current_version"}}: {{curVer}}</strong></p>
    <p>
        {{i18n "dialog.update.notification"}}
    </p>
    {{#if isBeta }}
    <div class="alert warning">
      This is a beta release.
    </div>
    {{/if}}
    <div class="changelog">
        {{{changelog}}}
    </div>
    <a href="{{downloadLink}}" target="_blank" class="button" onclick="require('electron').shell.openExternal(this.getAttribute('href')); return false;">{{i18n "dialog.update.release_url"}}</a>
    <button id="abort">{{i18n "dialog.button.close"}}</button>
</div>
