<div class="dialog" role="dialog">
    <h1>{{i18n "dialog.update.title"}}: {{newVer}}</h1>
    <p><strong>{{i18n "dialog.update.current_version"}}: {{curVer}}</strong></p>
    <p>
        {{i18n "dialog.update.notification"}}
    </p>
    {{#if isBeta }}
    <div class="alert warning">
      This is a beta release.
    </div>
    {{/if}}
    <div class="changelog">
        {{{changelog}}}
    </div>
    <button id="abort">{{i18n "dialog.button.close"}}</button>
</div>
